<div>
  <%= image_tag @post_image.get_image %>
  <p>ショップ名：<%= @post_image.shop_name %></p>
  <p>説明：<%= @post_image.caption %></p>
  <!--<p>投稿ユーザー画像： image_tag 'sample-author1.jpg' </p>-->
  <!--上の行をindexページ同様の処理に書き直し。こちらはindexと違い、@post_imageを使用。-->
  <!--=>indexの方は@post_images.each do |post_image|内で書かれているため、変数はeachの受け皿になっているpost_imageであったため。-->
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100, 100) %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.user == current_user %>
    <%= link_to '削除', post_image_path(@post_image), method: :delete, "data-confirm" => "削除します。よろしいですか？" %>
  <% end %>
  
  <!--いいね機能。PostImageモデルで設定したfavorited_by?メソッドで、投稿画像につけられた「いいね」に、自分(current_user)が-->
  <!--含まれているorいないで処理をトグルしている（含まれていなければ「いいね」の削除）、含まれていれば(else)、「いいね」の付与。かな！？-->
  <% if @post_image.favorited_by?(current_user) %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :post do %>
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<!--コメント表示画面-->
<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100, 100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, data: { confirm: "削除します。よろしいですか？" } %>
    <% end %>
  <% end %>
</div>

<!--コメント作成(送信)-->
<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>